.navsec{
    padding:20px 0px;
    /* border-bottom: 2px solid var(--text-green); */
}
.logo{
    user-select: none;
    font-family: cubano;
    font-size: 25px !important;
    color: var(--text-green) !important;
    transition: all .2s ease;
}
.logo:hover{
    color: var(--text-orange) !important;
}
.headbtn{
    background-color: var(--text-white) !important;
    color: var(--text-black) !important;
    font-family: cubano !important;
    border-radius: 0% !important;
    font-size: 18px !important;
    border: none !important;
    padding: 5px 19px !important;
}
.headbtn:hover{
    background-color: var(--text-orange) !important;
    color: var(--text-white) !important;
}

.modal{ 
    position: absolute;
    top: 38%;
    left: 38%;
    transition: all .5s ease-in-out;
    padding: 10px;
    background-color: var(--text-light-gray);
    border: none !important;
    border-radius: 12px !important;
}   
.modalbox{
    padding: 20px;
}

.escbtn{
    color: var(--text-gray) !important;
    border-color: var(--text-gray) !important;
    transition: all .2s ease;
    font-size: 13px !important;
}
.escbtn:hover{
    color: var(--text-white) !important;
    background-color: var(--text-orange) !important;
    border-color: var(--text-orange) !important;
}

.connectbtn{
    font-family: cubano !important;
    color: var(--text-white) !important;
    border: 1px solid var(--text-white) !important;
    border-radius: 0% !important;
}
.connectbtn:hover{
    border: 1px solid var(--text-green) !important;
    background-color: var(--text-green) !important;
}

.popform{
    padding: 20px;
}

.formbox{
    border: 1px solid var(--text-gray) !important;
}
.inputgroup{
    background-color: transparent !important;
    border: none !important;
}
.inputtext{
    background-color: transparent !important;
    border: none !important;
    color: var(--text-gray) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    box-shadow: unset !important;
}
.inputtext::placeholder{
    color: var(--text-gray) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.confirmationbtn{
    background-color: var(--text-green) !important;
    color: var(--text-white) !important;
    font-family: cubano !important;
    border-radius: 0% !important;
    font-size: 15px !important;
    border: none !important;
    padding: 5px 19px !important;
}

.navdrop{
    padding: 15px 25px !important;
    background-color: var(--text-light-gray) !important;
    border-radius: 6px !important;
    right: 0% !important;
    left: unset !important;
}

.headlink{
    background-color: var(--text-light-gray) !important;
    color: var(--text-white) !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-family: cubano !important;
    border: 1px solid var(--text-white) !important;
    transition: all .2s ease;
    border-radius: 6px !important;
    margin-top: 6px;
}

.headlink:hover{
    background-color: var(--text-green) !important;
    color: var(--text-white) !important;
    border-color: var(--text-green) !important;
}

.logoutbox{
    padding: 20px;
}