@font-face {
  font-family: cubano;
  src: url('../assets/font/cubano/Cubano.ttf');
}


:root {
  --text-opacity   : 1;
  --text-yellow    : rgb(234 179 8 / var(--text-opacity));
  --text-pink      : rgb(236 72 153 / var(--text-opacity));
  --text-green     : rgb(34 197 94 / var(--text-opacity));
  --text-white     : rgb(255 255 255 / var(--text-opacity));
  --text-gray      : rgb(178 190 205 / var(--text-opacity));
  --text-red       : rgb(239 68 68 / var(--text-opacity));
  --text-blue      : rgb(59 130 246 / var(--text-opacity));
  --text-violet    : rgb(168 85 247 / var(--text-opacity));
  --text-black     : rgb(0 0 0 / var(--text-opacity));
  --text-light-gray: rgb(42 46 53 / var(--text-opacity));
  --text-orange: rgb(249 115 22 / var(--text-opacity));
  --body-background: rgb(18 24 27 / var(--text-opacity));
}

* {
  box-sizing: border-box;
  padding   : 0;
  margin    : 0;
}

html,
body {
  max-width : 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--body-background) !important;
  color           : var(--text-white) !important;
  font-family: cubano !important;
}

.main-section{
  max-height: 70vh;
  overflow-y: scroll;
}

.main-section .add-form{
  border-right  : solid var(--text-green) !important;
  border-left: solid var(--text-green) !important;
  border-top: solid var(--text-green) !important;
  border-bottom: solid var(--text-green) !important;
  border-width: 2px !important;
}
.main-section .add-form .input-group{
  border: 2px solid var(--text-green) !important;
}
.main-section .add-form .input-group .form-control{
  color: var(--text-white) !important;
  background-color: transparent !important;
  font-size: 15px !important;
}
.main-section .add-form .input-group .form-control::placeholder{
  color: var(--text-gray) !important;
}
.main-section .add-form .input-group .input-group-text{
  border: none !important;
  border-right: 2px solid var(--text-green) !important;
}
.main-section .add-form .btn{
  color: var(--text-white) !important;
  background: var(--text-green) !important;
  border-radius: 0% !important;
}
